*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h-custom{
    height: 100%;
}

.main_middle_content{
    margin-top: 20px;
    margin-bottom: 20px;
}

.booklist_col{
    padding: 10px;
}

.signupBtn{
    margin-right: 10px;
}